{"openapi":"3.0.0","paths":{"/v1/procedures/templates":{"get":{"description":"Returns a paginated list of Procedure Templates. Supports filtering via query parameters.","operationId":"/v1/procedures/templates_get","parameters":[{"name":"page","required":false,"in":"query","description":"Page number.","schema":{"default":0,"type":"number"}},{"name":"limit","required":false,"in":"query","description":"Define how many items will be received in the payload per request. (default 20 items, max 1000 items)","schema":{"default":20,"type":"number"}},{"name":"search","required":false,"in":"query","description":"Filter by specifying a search phrase over the procedure template's name or counter.","schema":{"type":"string"}},{"name":"type","required":false,"in":"query","description":"Filter by procedure template type.","schema":{"type":"string","enum":["safetyCheck","maintenance","validation"]}}],"responses":{"200":{"description":"List of Procedure Template objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureTemplateCfaFindManyResponseDto"}}}},"400":{"description":"Bad Request"},"403":{"description":"Forbidden"}},"security":[{"authorization":[]}],"summary":"Get a list of Procedure Templates","tags":["procedure-templates"],"x-controller-class":"ProcedureTemplatesCfaController"}}},"info":{"title":"Procedures","description":"Customer-facing API for Procedures","version":"v1","contact":{}},"tags":[],"servers":[{"url":"https://api.remberg.de"}],"components":{"securitySchemes":{"authorization":{"type":"apiKey","in":"header","name":"authorization"}},"schemas":{"ProcedureTemplateListItemCfaResponseDto":{"type":"object","properties":{"id":{"type":"string","description":"The procedure template's internal ID"},"counter":{"type":"number","description":"The procedure template's counter"},"name":{"type":"string","description":"The procedure template's name"},"type":{"type":"string","enum":["safetyCheck","maintenance","validation"],"description":"The procedure template's type"},"description":{"type":"string","description":"The procedure template's description"},"createdAt":{"type":"string","format":"date-time","description":"The procedure template's creation date as an ISO UTC string","example":"2025-01-15T10:00:00.000Z"},"updatedAt":{"type":"string","format":"date-time","description":"The procedure template's date of the last update as an ISO UTC string","example":"2025-01-15T10:00:00.000Z"}},"required":["id","counter","name","type","createdAt","updatedAt"]},"ProcedureTemplateCfaFindManyResponseDto":{"type":"object","properties":{"data":{"description":"The list of procedure templates","type":"array","items":{"$ref":"#/components/schemas/ProcedureTemplateListItemCfaResponseDto"}}},"required":["data"]}}}}